body {
    background-color: rgb(255, 130, 249);
    color: rgb(97, 0, 187);
    font-family: 'Lobster';
}

.text-center {
    text-align: center;
}

.wrapper {
    width: 60%;
    margin: 15px auto;
}

.wrapper video {
    width: 100%;
}